# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
.env
*.egg-info/
dist/
.venv/

# uv
.python-version

# Node / Next.js
node_modules/
.next/
out/

# IDEs
.vscode/
.idea/
.cursor/

# OS
.DS_Store
Thumbs.db